<ion-view hide-nav-bar="true">
	<div class="bar bar-header bar-assertive">
		<h1 class="title">{{roomName}}</h1>
		<button style="color: white" class="button button-icon button-clear button-light ion-log-out" ng-click="logOut()"></button>
	</div>

	<!-- Footer -->
	<ion-content has-header="true"  padding="true" class="has-header has-footer background-playlist" style="direction: rtl">
		<div class="list">

			<a class="item item-thumbnail-left" ng-repeat="(key, value) in allSongs track by $index" ng-class="$first ? 'currentSong' : 'waitingSong'">
				<img ng-src="{{value.thumb || 'https://1.bp.blogspot.com/-eoZUK337wkQ/V0SZt1ObDOI/AAAAAAAADuo/qO81W8h4OjE0lfwb2LEJpn6sNn2gXmTPwCLcB/s1600/Song.png'}}">
				<h2 style="white-space: initial!important; font-weight: 900;" ng-class="$root.userName == song.requester && $root.userName ? 'showDelete': ''">{{value.name}}</h2>
				<p ng-class="$root.userName == song.requester && $root.userName ? 'showDelete': ''">אורך: {{buildTimeFormat(value.length)}}</p>
				<button class="ion-ios-trash-outline" style="color: red;
    			position: absolute;
    			top: 10px;
    			right: 0px;
    			font-size: 34px;" ng-click="removeSongFromList(key, roomName)" data-ng-show="$root.userName == song.requester && song.requester != 'unknown' && $root.userName">
				</button>
			</a>
			
		</div>
	</ion-content>
	<div class="bar bar-footer bar-assertive">
		<div class="" style="margin-top: -9px;">
			<div class="range range-positive">
				<i ng-click="changeSongStatus(false)" class="icon ion-ios-pause"></i>
				<i ng-click="changeSongStatus(true)" class="icon ion-ios-play"></i>
				<i style="font-size: 48px;" class="icon ion-ios-volume-low"></i>
				<input type="range" min="0" max="100" ng-change="changeVolume(priceSlider)" ng-model="priceSlider">
				<i style="font-size: 48px;"  class="icon ion-ios-volume-high"></i>
			</div>
		</div>
	</div>
	<button class="button button-float" ng-click="addNewSong()">
		<i class="icon ion-plus"></i>
	</button>
</ion-view>
