<ion-tabs class="tabs-icon-top tabs-color-active-light tabs-background-dark">

  <!--
   **********************************
   * CAMERA
   **********************************
  -->
  <ion-tab title="Photo" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * SEARCH
   **********************************
  -->
  <ion-tab title="Recherche" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * FAVORITE
   **********************************
  -->
  <ion-tab title="Favoris" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/favorite">
    <ion-nav-view name="tab-favorite"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * ACCOUNT
   **********************************
  -->
  <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>