<ion-view>
  <!-- Title -->
  <ion-nav-title>
    Favoris
  </ion-nav-title>

  <!-- Buttons -->
  <ion-nav-buttons>
    
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    
  </ion-nav-buttons>

  <!-- Header bar -->
  <div class="bar bar-subheader box-shadow">
    <div class="button-bar">
      <a class="button button-light icon-left ion-compose has-border-right" ng-click="openPost()">Mes avis</a>
      <a class="button button-light icon-left ion-android-favorite-outline" ng-click="openPost()">Coup de coeur</a>
    </div>
  </div>

  <!-- Content -->
  <ion-content class="has-subheader stable-bg">
    <div class="list">
      <div class="item item-divider">
        <div class="row row-limited row-filter">
          <div class="col col-active">
            <i class="icon ion-ios-arrow-down"> abc</i>
          </div>
          <div class="col">
            <i class="icon ion-ios-arrow-down"> type</i>
          </div>
          <div class="col">
            <i class="icon ion-ios-arrow-down"> pays</i>
          </div>
          <div class="col">
            <i class="icon ion-ios-arrow-down"> récent</i>
          </div>
        </div>
      </div>
      
      <a class="item item-thumbnail-left no-padding-bottom" href="#">
        <img src="img/album_0.jpeg" class="img-bottle">
        <h2 class="item-title">Overwerk - After hours</h2>
        <p class="item-label">
          Let your ears enjoy these 6 electro/house 
        </p>
      </a>
    </div>
  </ion-content>

</ion-view>