<ion-view hide-nav-bar="true">

	<!-- Footer -->
	<ion-content has-header="true"  padding="true" class="scroll-vertical background" direction="rtl">
		<div class="row row-center center-content" style="direction: rtl">
			<div class="col col-center">

		<div class="list list-inset">
			<label class="item item-input bar">
				<i class="icon ion-music-note placeholder-icon-large"></i>
				<input type="text" placeholder="הכנס שם חדר" ng-model="room.name">
			</label>
			<label class="item item-input">
				<i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
				<input type="number" placeholder="הכנס קוד" maxlength="4" ng-model="room.pin">
			</label>
		</div>

		<a class="button button-block button-calm" ng-click="logInToRoom(room.name, room.pin)">
			התחבר לחדר
		</a>
		<br>
			<button type="button" class="button button-calm button-lg">
				<span class="ion-android-camera"></span>
			</button>
			</div>
		</div>

	</ion-content>
</ion-view>
