<ion-view hide-nav-bar="true">

  <!-- Footer -->
  <ion-content has-header="true" padding="true" scroll="false" style="direction: rtl">
    <div class="bar bar-footer bar-transparent" >
     <div class="row">

      <!-- Left -->
      <div class="col col-left">
        <a style="color: #000;" href="" ng-click="openRegister()">הירשם</a>
      </div>

      <!-- Right -->
      <div class="col col-right">
        <a style="color: #000;" href="" ng-click="openForget()">שכחת סיסמה?</a>
      </div>
     </div>
    </div>
  </ion-content>

  <!-- Content -->
  <ion-content has-header="true"  padding="true" class="scroll-vertical background" direction="rtl">
		<img src="img/logo.png" style="width:200px;margin-bottom:40px;">

    <div class="row row-center center-content" style="direction: rtl">
      <div class="col col-center">

        <!-- Form -->
        <div class="list list-inset">
          <label class="item item-input bar">
            <i class="icon ion-ios-email-outline placeholder-icon-large"></i>
            <input type="text" placeholder="הכנס כתובת מייל" ng-model="user.email">
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
            <input type="password" placeholder="הכנס סיסמה" ng-model="user.password">
          </label>
        </div>

        <!-- Connexion button -->
        <a class="button button-block button-calm" ng-click="loginUser(user)">
          התחבר
				</a>
				
				<br><br>

        <!-- Error -->
        <div class="card" ng-if="error">
          <div class="item item-text-wrap">
            <p class="assertive text-center"><strong>{{ error }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
