<ion-modal-view>
  <ion-header-bar class="bar-calm">
    
    <!-- style attribute for Android -->
    <h1 class="title" style="text-align:center!important;">רישום משתמש חדש</h1>
    
    <!-- Button left -->
    <button class="button button-icon button-clear button-light ion-ios-arrow-thin-left" ng-click="closeRegister()"></button>
    
    <!-- Button right [empty] -->
    <button class="button button-icon button-clear button-light"></button>
  
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="list">
      <!--
      <label class="item item-input">
        <i class="icon ion-ios-person-outline placeholder-icon-large"></i>
        <input type="text" placeholder="Nom">
      </label>
      -->
      <label class="item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon-large"></i>
        <input type="text" placeholder="אימייל" ng-model="form.email">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
        <input type="password" placeholder="ססמא" ng-model="form.password">
      </label>
      <!--
      <label class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
        <input type="text" placeholder="Confirmer mot de passe">
      </label>
      -->
    </div>

    <p class="calm text-center">
      על ידי הרשמה לאתר הינך מסכים<br/>לתנאי השימוש
    </p>
    <p class="assertive text-center" ng-if="error"><strong>{{ error }}</strong></p>

    <div class="validation-center">
      <button class="button button-balanced" ng-click="createUser(form)">
        שלח
      </button>
    </div>
  </ion-content>
</ion-modal-view>
